<header class="ui-header ui-header-stable ui-border-b">
    <i class="ui-icon-return" onclick="history.back()"></i>

    <h1>To be a Teacher</h1>
</header>

<footer class="ui-footer ui-footer-stable ui-btn-group ui-border-t">
    <button class="ui-btn-lg"
            onclick="document.forms[0].onsubmit()"><%= (typeof(acceptButton) != 'undefined') ? acceptButton.value : 'Submit' %></button>
</footer>

<section class="ui-container ui-center" style="padding-top: 5px; padding-bottom: 5px;">
    <% var _model = model %>
    <%- include templates/edit_form %>
</section>