<li>
    <div class="ui-avatar">
        <span style="background-image:url(http://placeholder.qiniudn.com/100x100)"></span>
    </div>
    <div class="ui-list-info ui-border-t" onclick="location.href = '/teacher/<%= item._id %>'">
        <h4 class="ui-nowrap"><%= item.name %></h4>

        <p class="ui-nowrap"><%= item.introduction %></p>
    </div>
</li>